*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
.ding{
	width: 100%;
	height: 80px;
}
.daohang{
	border-top: 1px solid #eee;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #ccc;
	box-shadow: 0px 2px 4px #eee;
	background: rgba(0,0,0,0.1);
	margin-top: -7px;
	position: relative;
	z-index: 201;
}
.daohangs{
	width: 1230px;
	height: 32px;
	margin: 4px auto;
}
.daohangzi1{
	width: auto;
	height: 32px;
	float: left;
	line-height: 32px;
	color: #999;
	font-size: 12px;
}
em{
	font-size: 12px;
}
.login{
	padding-left: 20px;
	padding-right: 10px;
	color: #999;
}
.zhuce{
	padding:0 10px;
	color: #999;
}
.bianse1:hover{
	color:#FF0036;
}
.daohangzi2{
	float: right;
	height: 32px;
	font-size: 12px;
	color: #999;
	display: flex;
	justify-content: space-between;
}
.tianmao{
	padding: 0 10px;
	height: 32px;
	width: auto;
	line-height: 32px;
	cursor: pointer;
	color: #999;
	position: relative;
}
.tianmao1s{
	width: 100%;
	height: 10px;
	background: #fff;
	position: absolute;left: 0;top: 30px;
	display: none;
}
.erwei1{
	width: 175px;
	height: 225px;
	margin: 5px 0 0;
	position: absolute;
	left:-60px;right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 26px;
	background: #fff;
	background-image: url(../img/1.png);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 2px 1px #aaa;
	display: none;
}
.erweitop{
	width: 5px;
	height: 5px;
	background: #fff;
	transform: rotate(45deg);
	transform-origin: 45px 45px;
	position: absolute;
	left:-78px;right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 15px;
}
.tianmao6:hover .erwei1{
    display: block;
}
.tianmao:hover{
	color: #FF0036;
}
.tianmao:nth-child(1):hover{
	background: #fff;
	color: #FF0036;
}
.tianmao:nth-child(1):hover .tianmao1s{
	display: block;
}
.tianmao1{
	width: 80px;
	height: 80px;
	padding: 10px;
	background: #fff;
    position: absolute;
    left: 0;
    top: 37px;
    display: none;
}
.baobei1,.baobei2,.shoucang1,.shoucang2{
	width: 100%;
	height: 50%;
	font-size: 12px;
	color: #999;
	line-height: 40px;
	text-align: center;
}
.baobei1:hover,.baobei2:hover,.shoucang2:hover,.shoucang1:hover{
	color: #FF0036;
}
.tianmao:nth-child(1):hover .tianmao1{
	display: block;
}
.tianmao2,.tianmao3{
	width: 70px;
	height: 80px;
	padding: 10px;
	background: #fff;
	display: none;
	position: absolute;
	left: 0;
	top: 37px;
}
.tianmao3{
	width: 138px;
	height: auto;
	display: block;
	padding:10px 0;
}
.tianmao3{
	position: absolute;
	right: 0;
	left: auto;
	top: 37px;
	display: none;
}
.danghangzi2 a .tianmao:nth-child(4){
	background: #FF0036;
}
.tianmao22:hover .tianmao2{
	display: block;
}
.tianmao22:hover .tianmao1s{
	display: block;
}
.zhichi1,.zhichi2{
	width: 118px;
	height: 175px;
	padding: 10px;
	border-bottom: 1px dashed #999;
}
.zhichi2{
	height: 70px;
}
.zhichi11{
	width: 59px;
	font-size: 12px;
	line-height: 35px;
	float: left;
	color: #555;
	text-align: center;
}
.zhichi12{
	width: 113px;
	padding-left: 5px;
	text-align: left;
	font-weight: bold;
}
.zhichi11:hover{
	color: #FF0036;
}
.zhichi12:hover{
	color: #555;
}
.zhichi0:hover .tianmao3{
	display: block;
}
.zhichi0:hover .tianmao1s{
	display: block;
}
.wangzhan0:hover .wangzhan1{
	display: block;
}
.wangzhan1{
	width: 1130px;
	height: auto;
	background: #fff;
	position: absolute;
	left: auto;
	right: 0;
	top: 37px;
    padding: 40px 35px;
    display: none;
    /*justify-content: space-between;*/
}
.wangzhan1 ul{
	width: 100%;
	height: 100%;
	display: block;
}
.wangzhan2,.wangzhan3,.wangzhan4,.wangzhan5{
	display: block;
	float: left;
    border-right: 1px solid #eee;
    padding-left: 10px;
}
.wangzhan2{
	padding-left: 0;
}
.wangzhan2zi{
	width: 91px;
	height: 40px;
	font-size: 12px;
	color: #555;
	line-height: 40px;
	float: left;
	cursor: pointer;
}
.wangzhan2zi:hover{
	color: #eb2929;
}
.bubian:hover{
	color:#555;
}
.wangzhan22,.wangzhan23,.wangzhan24{
	width: 100%;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
    color: #f56a00;
}
.wangzhan22:hover{
	color: #f56a00;
}
.wangzhan23{
	color: #2263d4;
}
.wangzhan23:hover,.bianse:hover{
	color: #2263d4;
}
.wangzhan24{
	color: #555;
}
.wangzhan24:hover{
	color: #555;
}
.wangzhan5zi{
	width: 177px;
}
.wangzhan2{
	width: 275px;
}
.wangzhan3{
	width: 375px;
}
.wangzhan4{
	width: 270px;
}
.wangzhan5{
	float: left;
	width: 177px;
	border-right:0px;
}
.clear1{
	clear: both;
}
.header{
	width: 100%;
	height: 130px;
}
.headerlay{
	width: 1230px;
	height: 106px;
	margin: 0 auto;
}
.wuyong{
	width: 200px;
	height: 130px;
	padding: 0 0 0 102px;
	float: right;
}
.sousuoqu{
	float: right;
	padding-top: 38px;
	width: 625px;
}
.sousuoqus{
	width: 100%;
	height: 36px;
}
.sousuo{
	width: 496px;
	height: 32px;
	float: left;
	border:2px solid red;
	outline: none;
}
.sousuo1{
	width: 125px;
	height: 36px;
	float: left;
	background: red;
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 36px;
	border:0px;
}
.gezhong{
	width: 625px;
	height: 24px;
	padding-top: 4px;
	float: right;
	margin-right: 10px;
	/*background: red;*/
}
.fenlei{
	padding: 0 12px;
	line-height: 24px;
	border-right: 1px solid #ccc;
	display: inline-block;
	font-size: 13px;
}
.fenlei a{
	color: #ccc;
}
.fenlei .red{
	color: red;
}
.fenlei:nth-child(9){
	border-right:0px;
}
.logo{
	width: 290px;
	height: 130px;
	margin-left: -50px;
}
.innercon{
	width: 100%;
	height: 36px;
}
.innercons{
	width: 1230px;
	height: 36px;
	padding-right: 30px;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}
.innercon1{
	width: 200px;
	height: 36px;
	float: left;
}
.innercon2{
	width: auto;
	height: 36px;
	float: left;
}
.shangpin{
	width: 100px;
	height: 100%;
	float: left;
	background: #DD2727;
	color: #fff;
	font-size: 15px;
	line-height: 36px;
	text-align: center;
	position: relative;
	cursor: pointer;
}
.shangpin:hover{
	background: #eee;
	color: red;
}
.shuang11{
	width: 100px;
	height: 100%;
	float: left;
	background: rgba(0,0,0,0.5);
	color: #DD2727;
	font-size: 15px;
	line-height: 36px;
	text-align: center;
	position: relative;
	cursor: pointer;
}
.shuang11:hover{
	background: rgba(0,0,0,0.8);
	color: #fff;
}
.chanpin{
	height: 500px;
	width: 200px;
	position: absolute;
	left: 0;
	top: 36px;
	background: rgba(0,0,0,0.5);
	display: none;
}
.mingchen{
	width: 200px;
	height: 30px;
}
.mingchen:hover{
    background: #fff;
}
.i{
	width: 20px;
	float: left;
	height: 30px;
	margin-left: 10px;
	margin-right: 5px;
	font-size: 15px;
    line-height: 30px;
    color: #fff;
}
.aaa1{
	display: block;
	float: left;
	width: 150px;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	font-weight: 450;
	color: #fff;
}
@font-face {
  font-family: 'iconfont';
  src: url('font1/iconfont.eot');
  src: url('font1/iconfont.eot?#iefix') format('embedded-opentype'),
  url('font1/iconfont.woff') format('woff'),
  url('font1/iconfont.ttf') format('truetype'),
  url('font1/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.iconfonts{
  font-family:"iconfont" !important;
  font-size:12px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.iconfonts1{
  font-family:"iconfont" !important;
  font-size:12px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: #FF0036;
  float: left;
  margin-left: 5px;
}
.iconfont3{
  font-family:"iconfont" !important;
  font-size:20px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.fenzhong{
	width: 200px;
	height: 500px;
	padding-top: 30px;
	box-sizing: border-box;
	position: absolute;
	left: -100px;
	top: 36px;
	background: rgba(0,0,0,0.6);
}
.sanjiao{
	position: absolute;
    right: 4px;
    top: 12px;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
    font-size: 0;
    line-height: 0;
    transition: all 0.3s 0s linear;
}
.tianmao:hover .sanjiao{
	transform: rotate(180deg);
	transform-origin: 3px 1px;
}
.fenzhong1{
	width: 102px;
	height: 28px;
	padding: 0 24px;
    border-radius: 10px;
    margin:0 auto;
    border:1px solid red;
    margin-bottom: 14px;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    cursor: pointer;
    /*box-sizing: border-box;*/
}
.fenzhong1:hover{
	background: red;
	color: #fff;
}
.i1{
	width: 16px;
	height: 100%;
	margin-left: 14px;
	margin-right: 4px;
	float: left;
	color: #fff;
	line-height: 30px;
	font-size: 16px;
}
.linktext{
	height: 28px;
	float: left;
	font-size: 14px;
	line-height: 28px;
	color: #fff;
}
.title1{
	padding: 0 8px;
	font-size: 16px;
	display: block;
	line-height: 35px;
	height: 35px;
	color: #333;
	float: left;
}
.title1:hover{
	color: red;
}
.bannercon{
	width: 100%;
	height: 500px;
	border-top: 2px solid red;
	position: relative;
}
.bannercons,.banner{
	width: 1230px;
	height: 500px;
	padding-right: 30px;
	position: absolute;
	left: 0;top: 0;right: 0;bottom: 0;
	margin: 0 auto;
}
.bannertu,.bannerimg{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	
}
.bannerimg{
	opacity: 0;
	transition: all 0.5s 0s linear;
}
.dianqu{
	width: 210px;
	height: 5px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 20px;
	display: flex;
	justify-content: space-between;
	z-index: 6;
}
.bannerdian{
	width: 25px;
	height: 5px;
	background: rgba(0,0,0,0.5);
	/*opacity: 0.5;*/
	cursor: pointer;
}
.imgimg{
	width: 240px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}
.imgimg1,.imgimg1 img{
	width: 240px;
	height: 220px;
	margin: 20px 0 10px;
	opacity: 0.5;
	background: #fff;
	transition: all 0.5s 0s linear;
}
.imgimg2,.imgimg2 img{
	width: 240px;
	height: 220px;
	margin: 10px 0 20px;
	opacity: 0.5;
	background: #fff;
	transition: all 0.5s 0s linear;
}
.imgimg1 img,.imgimg2 img{
	opacity: 1;
}
.imgimg1:hover,.imgimg2:hover{
	background: #fff;
	opacity: 1;
}
.xuanka{
	width: 850px;
	height: 500px;
	position: absolute;
	left: 330px;
	top: 0;
	z-index: 200;
	/*background: #fff;*/
}
.xxkleft{
	width: 580px;
	height: 460px;
	margin: 10px 35px;
	float: left;
}
.xxkright{
	width: 180px;
	height: 480px;
	padding:10px;
	float: left;
}
.xxkleft1{
	width: 100%;
	height: auto;
	padding: 0px 0;
	display: inline-block;
	line-height: 20px;
}
.lefttitle{
	width: 120px;
	height: 100%;
	float: left;
	display: block;
	color: #333;
	text-align: center;
	font-weight: bold;
}
.leftneirong{
	width: 420px;
	height: 100%;
	float: left;
	display: block;
	color: #555;
	border-bottom:1px dashed #eee;
	text-align: left;
	line-height: 20px;
}
.leftneirong a,.leftneirong .name11,.leftneirong .name9,.leftneirong .name1010,.leftneirong .name88,.leftneirong .name77,.leftneirong .name66,.leftneirong .name55,.leftneirong .name44,.leftneirong .name22,.leftneirong .name33{
	color: #555;
}
.leftneirong a:hover{
	color: #e54077;
}
.leftneirong .name{
	color: #e54077;
}
.leftneirong .name11:hover{
	color: #427def;
}
.leftneirong .name1,.leftneirong .name1:hover{
	color: #427def;
}
.leftneirong .name2,.leftneirong .name2:hover,.leftneirong .name22:hover{
	color: #6347ed;
}
.leftneirong .name3,.leftneirong .name3:hover,.leftneirong .name33:hover{
	color: #e54077;
}
.leftneirong .name4,.leftneirong .name4:hover,.leftneirong .name44:hover{
	color: #6347ed;
}
.leftneirong .name5,.leftneirong .name5:hover,.leftneirong .name55:hover{
	color: #6347ed;
}
.leftneirong .name6,.leftneirong .name6:hover,.leftneirong .name66:hover{
	color: #6347ed;
}
.leftneirong .name7,.leftneirong .name7:hover,.leftneirong .name77:hover{
	color: #427def;
}
.leftneirong .name8,.leftneirong .name8:hover,.leftneirong .name88:hover{
	color: #427def;
}
.leftneirong .name9,.leftneirong .name9:hover,.leftneirong .name99:hover{
	color: #fa5c5c;
}
.leftneirong .name10,.leftneirong .name10:hover,.leftneirong .name1010:hover{
	color: #f7a831;
}
.xxkrights{
	width: 100%;
	height: 100%;
	background: #fff;
	position: relative;
}
.shuxian{
	width: 1px ;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 0;
	background: #eee;
}
.henxian1,.henxian2,.henxian3,.henxian4,.henxian5,.henxian6,.henxian7,.henxian8{
	width: 160px;
	height: 1px;
	position: absolute;
	background: #eee;
	left: 0;right: 0;
	margin-left: auto;
	margin-right: auto;
}
.henxian1{
	top: 50px;
}
.henxian2{
	top: 100px;
}
.henxian3{
	top: 150px;
}
.henxian4{
	top: 200px;
}
.henxian5{
	top: 250px;
}
.henxian6{
	top: 300px;
}
.henxian7{
	top: 350px;
}
.henxian8{
	top: 400px;
}
.imgs{
	width: 80px;
	height: 40px;
	padding: 5px;
	float: left;
}
.xuanxiangka{
	width: 850px;
	height: 500px;
	position: absolute;
	left: 200px;
	top: 0;
	display: none;
	background: #fff;
}
.activity{
	width: 1230px;
	height: auto;
	padding-right: 30px;
	margin: auto;
}
.activitys{
	width: 100%;
	height: auto;
	padding-top: 105px;
	position: relative;
	overflow: hidden;
}
.activit1,.activit2{
	width: 610px;
	height: 330px;
	margin-right: 5px;
	float: left;
}
.pageleft{
	width: 250px;
	height: 330px;
	float: left;
	margin-right:10px;
	border-radius: 5px;
	position: relative;
	background-image: url(../img/4.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.pageright1{
	width: 350px;
	height: 160px;
	margin-bottom:10px;
	float: left;
	border-radius: 5px;
	position: relative;
	background-image: url(../img/3.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.pageright2{
	width: 350px;
	height: 160px;
	float: left;
	border-radius: 5px;
	position: relative;
	background-image: url(../img/2.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.imgzhu,.imgzhu img{
	width: 180px;
	height: 180px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
    bottom: 0;
    margin: auto;
}
.imgzhu1{
	width: auto;
	height: 100%;
	position: absolute;
	left: auto;
	right: 0;
	top: 0;
}
.imgzhu1 img{
	float: right;
}
.danpin{
	width: 100%;
	height: 36px;
	line-height: 36px;
	padding-top: 32px;
	font-size: 20px;
	font-weight: bold;
	color: #8C0BEF;
	text-align: center;
}
.danpin1{
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #8C0BEF;
	margin: 0 auto;
}
.wanju{
	width: 200px;
	font-size: 24px;
	line-height: 30px;
	margin-left: 30px;
	padding-top: 27px;
	color: #D30D0D;
}
.aaa{
	font-size: 18px;
	text-align: center;
	line-height: 24px;
	/*display: block;
	margin: 0 auto;*/
	margin-left: 30px;
	color: #D30D0D;
}
.aaaa{
	color: #179510;
}
.brandwall{
	width: 1230px;
	padding-right: 30px;
	padding-top: 24px;
	margin: 0 auto;
	overflow: hidden;
}
.brandwall1,.brandwall2,.brandwall3{
	width: 234px;
	height: 370px;
	float: left;
	margin-right: 13px;
}
.brandwall2,.brandwall3{
	width:485px;
}
.brandwall3{
	margin-right: 0px;
}
.brandhead{
	width: 100%;
	height: 54px;
	border-color: #eee;
	overflow: hidden;
}
.cn,.en{
	display: inline-block;
	margin-left: 10px;
	font-size: 18px;
	line-height: 54px;
	float: left;
	height: 54px;
	color: #333;
	font-weight: 700;
}
.en{
	font-size: 14px;
}
.move{
	width: 22px;
	height: 54px;
	padding-right: 14px;
	display: inline-block;
	float: right;
}
.brandimg,.brandheadimg{
	width:100%;
	height: 316px;
	float: left;
	display: block;
	position: relative;
	cursor: pointer;
}
.baise{
	width:100%;
	height: 316px;
	float: left;
	display: block;
	position: absolute;
	left: 0;top: 0;
	z-index: 5;
}
.baise{
	opacity: 0;
	background: #fff;
}
.baise:hover{
	opacity: 0.3;
}
.branditems{
	width:100%;
	height: 100%;
}
.branditem{
	width:122px;
	height: 108px;
	margin-bottom: 1px;
	margin-right:1px;
	float: left;
	background: #fff;
	position: relative;
	cursor: pointer;
}
body{
	background: #f6f6f6;
}
.brandimgs{
	width: 100px;
	height: 50px;
	position: absolute;
	left: 0;bottom: 0;
	top: 0;right: 0;
	margin: auto;
}
.zhezhao2{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;top: 0;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	transition: all 0.5s 0s linear;
}
.xinxin{
	width: 12px;
	height: 12px;
	padding: 5px;
	position: absolute;
	right: 0;top: 0;
	color: #ccc;
}
.youhui{
	width: 100%;
	height: 20px;
	position: absolute;
	left: 0;
	top: 30px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}
.dianji{
	width: 50%;
	height: 20px;
	background: #FF0036;
	border-radius: 10px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	position: absolute;
	font-size: 12px;
	left: 0;right: 0;
	margin-left:auto;
	margin-right: auto;
	top: 50px;
}
.branditem:hover .zhezhao2{
	opacity: 1;
}
.kuang{
	width: auto;
	height: auto;
}
.louceng{
	width: 1230px;
	height: 665px;
	padding-right: 30px;
	margin-top: 20px;
	margin-left: auto;
	margin-right:auto;
	overflow: hidden;
}
.floorleft{
	width: 214px;
	height: 28px;
	float: left;
}
.floorleftimg{
	width: 100%;
	height: 100%;
}
.floorright{
	width: 800px;
	height: 28px;
	float: right;
	display: flex;
	justify-content: space-between;
}
.floorright{
	display: inline-block;
	font-size: 14px;
	color: #333;
	line-height: 28px;
	float: right;
}
.floorright a{
	color: #333;
	margin:5px 10px;
	float: right;
}
.floorbody{
    width: 100%;
    height: 618px;
    margin-top: 40px;
    overflow: hidden;
}
.bodyleft{
	width: 215px;
	height: 618px;
	float: left;
	position: relative;
}
.bodyleftimg{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;top: 0;
}
.zhezhao3{
	background: #fff;
	opacity: 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.zhezhao3:hover{
	opacity: 0.3;
}
.leftwarp{
	width: 32px;
	font-size: 16px;
	color: #fff;
	padding:8px 17px;
	position: absolute;
	left: 0;
	top: 400px;
	background: rgba(0,0,0,0.9);
	cursor: pointer;
}
.rightwarp{
	width: 112px;
	height: 41px;
	padding:8px 17px;
	position: absolute;
	left: 66px;top: 400px;
	background: rgba(0,0,0,0.3);
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
.bodyright{
	width: 995px;
	height: 618px;
	float: left;
}
.bodyrightone{
	width: 484px;
	height: 301px;
	margin-left: 13px;
	margin-bottom: 13px;
	float: left;
	background: #fff;
}
.bodyrighttwo{
	width: 235px;
	height: 301px;
	margin-bottom: 13px;
	margin-left: 13px;
	float: left;
}
.floortabs{
	width: 462px;
	height: 282px;
	margin:10px;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.09);
}
.floortabshead{
	width: 100%;
	height: 57px;
	background: #f1f1f1;
}
.tabshead{
	width: 50%;
	float: left;
	font-size: 16px;
	color: #333;
	text-align: center;
	line-height: 57px;
}
.floortabsbody{
	width: 100%;
	height: 225px;
	position: relative;
}
.bodytabs{
	width: 291px;
	height: 87px;
	position: absolute;
	left: 0;
	top: 70px;
	background-image: url(../img/6.png);
	background: cover;
	position: absolute;
	z-index: 10;
}
.titlewarp{
	margin-top: 8px;
	margin-left: 26px;
}
.warpicon{
	width: 23px;
	height: 23px;
}
.warpzi{
	font-size: 24px;
	margin-left: 8px;
	font-weight: 700;
	color: #00B262;
	margin-top: -10px;
}
.tabdesp{
	display: block;
	font-size: 18px;
	margin-left: -3px;
	line-height: 30px;
	color: #333;
}
.bodywarp1{
	width: 200px;
	height: 200px;
	margin-top: 10px;
	margin-right: 30px;
	float: right;
	position: relative;
}
.zhezhao4{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;right: 0;top: 0;
	opacity: 0;
	background: #fff;
}
.zhezhao4:hover{
    opacity: 0.3;
}
.warp1img{
	width: 100%;
	height: 100%;
}
.bodytwoimg{
	width: 233px;
	height: 299px;
	border:1px solid #f6f6f6;
	position: relative;
	background: #fff;
}
.bodytwoimg:hover{
	border:1px solid red;
}
.bodytwo2{
	width: 185px;
	height: 185px;
	position: absolute;
	left: 0;right: 0;
	top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.bodytwo3{
	width: 135px;
	height: 40px;
	margin:8px auto;
	position: absolute;
	left: 0;top: 200px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}
.floorprice{
	font-size: 18px;
	line-height: 18px;
	color: #ff0036;
	margin:10px auto;
	position: absolute;
	left: 0;top: 240px;
	text-align: center;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.flooricon{
	width: 58px;
	height: 29px;
	position: absolute;
	left: auto;
	right: 10px;
	top: auto;
	bottom: 0px;
	background-image: url(../img/9.png);
	background-size: cover;
}
.zhezhao5{
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #fff;
	position: absolute;
	left: 0;top: 0;
	z-index: 15;
	cursor: pointer;
}
.zhezhao5:hover{
	opacity: 0.3;
}
.dataspm{
	width: 1230px;
	height: auto;
	padding-right: 30px;
	margin:0 auto;
}
.dataspm1{
	width: 100%;
	height: 333px;
	overflow: hidden;
}
.wonderful{
	width: 235px;
	height: 326px;
	margin:0 12px 6px 0;
	float: left;
}
.wonderful1{
	margin-right:0px;
	margin-bottom: 0px;
}
.carditem{
	display: inline-block;
	width: 233px;
	height: 317px;
	margin-bottom: 9px;
	border:1px solid #fff;
	background: #fff;
}
.carditem:hover{
	border:1px solid red;
}
.cardimg{
	width: 185px;
	height: 185px;
	display: block;
	margin:20px auto 0;
}
.wonderfultitle{
	width: 1230px;
	height: 43px;
	padding-right: 30px;
	font-size: 18px;
	text-align: center;
	margin:0 auto;
	color: #666;
	font-weight: 400;
}
.iteminfo{
	display: block;
	padding:14px 12px 8px;
	text-align: center;
}
.itemesc{
	display: block;
	width: 135px;
	height: 40px;
	margin:8px auto;
	font-size: 14px;
	line-height: 20px;
	color: #666;
}
.itemdetail{
	width: 100%;
	height: 33px;
	margin-top: 2px;
	color: red;
	font-size: 16px;
	text-align: center;
	line-height: 33px;
}
.imgimgs{
	position: relative;
	width: 233px;
	height: 185px;
}
.zhezhao6{
	background: #fff;
	position: absolute;
	z-index: 8;
	left: 0;top: 0;
	opacity: 0.3;
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: all 0.5s 0s linear;
}
.carditem:hover .zhezhao6{
	opacity: 0.3;
}
.tmalldesc{
	width: 100%;
	height: auto;
	border-top: 1px solid #d1d7dc;
	background: #fff;
	overflow: hidden;
	position: relative;
}
.end{
	width:80px;
	height: 45px;
	margin: 0 auto 10px;
	background-image: url(../img/10.png);
	background-size: cover;
}
.tmallensure{
	width:1190px;
	height: 100px;
	margin: 25px auto;
	background-image: url(../img/28.jpg);
	background-size: cover;
	position: relative;
}
.tmalldesc1{
	width:1190px;
	height: 190px;
	padding-top: 22px;
	border-top: 1px solid #ededed;
	position: relative;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.payment{
    padding-left: 50px;

}
.payment dt{
	font-size: 16px;
	color:#646464;
	height: 30px;
	line-height: 30px;
	font-weight: 700;
}
.payment dd{
	width:100px;
	font-size: 12px;
	color:#8b8b8b;
	height: 20px;
	line-height: 20px;
}
.paymentimg{
	width:105px;
	height: 105px;
}
.tupian{
	width:80px;
	height: 25px;
	position: absolute;
	left: 200px;
	top: 338px;
}
.tupian1{
    width:100%;
    height: 100%;
}
.copys{
	width:100%;
	height: auto;
	border-top: 2px solid red;
	background: #000;
}
.copys1{
	width:1190px;
	height: 24px;
	padding:5px 0;
	font-size: 12px;
	line-height: 24px;
	margin: 0 auto;
}
.copys1 a{
	color:#fff;
	margin-right:3px;
}
.footer{
	width:1190px;
	height: auto;
	margin: 0 auto;
	color:#a4a4a4;
	font-size: 12px;
}
.footer1{
	padding: 5px 0;
}
.footer1 a{
	color:#a4a4a4;
	margin-right: 65px;
}
.footer2{
	width:73px;
	height: 30px;
	margin-right: 10px;
}
.youguding{
	width:35px;
	height: 100%;
	position: fixed;
	left: auto;
	top: 0;
	right: 0;
	background: #000;
	z-index: 1000;
}
.fixed{
	width:35px;
	height: 70%;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom:auto;
	font-size: 20px;
}
.fixed1{
	width:35px;
	height: 35px;
	position: relative;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
}
.iconfont3{
	color:#fff;
	font-size: 20px;
}
.gouwu2{
	width:27px;
	height: 90px;
	padding: 0 4px;
	padding-top: 10px;
	position: relative;
	left: 0;right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 20px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	cursor: pointer;
}
.gouwu2 a{
	display: block;
	width:15px;
	text-align: center;
	font-size: 12px;
	color:#fff;
	position: absolute;
	left: 0;right: 0;
	margin-left: auto;
	margin-right: auto;
}
.gouwu3,.fixeds1,.fixeds2,.gouwu4,.gouwu5,.gouwu6,.gouwu7{
	width:35px;
	height: 25px;
	padding: 5px 0;
	font-size: 20px;
	line-height: 25px;
	color:#ddd;
	text-align: center;
	cursor: pointer;
	position: relative;
}
.chexing{
	color:#FF0036;
}
.gouwu31{
	width:35px;
	height: 35px;
}
.fixeds1{
	padding: 0;
	cursor: pointer;
}
.fixeds{
	position: absolute;
	left: 0;
	top: auto;
	bottom: 0;
}
.fixed1:hover,.gouwu3:hover,.gouwu4:hover,.gouwu5:hover,.gouwu6:hover,.gouwu7:hover,.fixeds1:hover,.fixeds2:hover{
	background: red;
}
.gouwu2:hover .chexing{
	color:#fff;
}
.juedui,.juedui2,.juedui3,.juedui4,.juedui5,.juedui6,.juedui7,.juedui8{
	width:90px;
	height: 35px;
	position: absolute;
	left: -120px;
	top: 0;
	font-size: 12px;
	color:#fff;
	background: #494949;
	text-align: center;
	line-height: 35px;
	opacity: 0;
	transition: all 0.3s 0s linear;
}
.juedui1,.juedui12,.juedui13,.juedui14,.juedui15,.juedui16,.juedui17,.juedui18{
	position: absolute;
	left: auto;
	right: -3px;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	width:5px;
	height: 5px;
	background: #494949;
	transform: rotateZ(45deg);
	transform-origin: 2.5px 2.5px;
}
.fixed1:hover .juedui{
	left: -90px;
	opacity: 1;
}
.gouwu2:hover{
    background: red;
}
.gouwu3:hover .juedui2{
	left: -90px;
	opacity: 1;
}
.gouwu4:hover .juedui3{
	left: -90px;
	opacity: 1;
}
.gouwu5:hover .juedui4{
	left: -90px;
	opacity: 1;
}
.gouwu6:hover .juedui5{
	left: -90px;
	opacity: 1;
}
.gouwu7:hover .juedui6{
	left: -90px;
	opacity: 1;
}
.fixeds1:hover .juedui7{
	left: -90px;
	opacity: 1;
}
.fixeds2:hover .juedui8{
	left: -90px;
	opacity: 1;
}
.fixeddd{
	width: 100%;
	height: 50px;
	position: fixed;
	left: 0;
	top: -50px;
	background: #ff0036;
	z-index: 300;
}
.loutissss{
	width: 0px;
	height: 0px;
	position: fixed;
	left: 80px;
	bottom: 000px;
	overflow: hidden;
}
.loutisss{
	width: 24px;
	height: 24px;
	padding: 6px;
	font-size: 12px;
	line-height: 12px;
	cursor: pointer;
	color:#fff;
	background: #555;
	border-bottom: 1px solid #fff;
}
.fanhuisss{
	width: 0px;
	height: 0px;
	padding: 0px;
	font-size: 12px;
	text-align: center;
	line-height: 48px;
	color:#fff;
	background: #aaa;
	cursor: pointer;
	position: fixed;
	left: 80px;
	bottom: 69px;
}
.cainixihuan{
	width: 0px;
	height: 0px;
	padding: 0px;
	font-size: 12px;
	line-height: 12px;
	color:#fff;
	background: #555;
	position: fixed;
	left: 80px;
	bottom: 105px;
	cursor: pointer;
}
.iconfont4{
	font-size: 12px;
	text-align: center;
	line-height: 12px;
	color:#fff;
}
.iconfont4{
  font-family:"iconfont" !important;
  font-size:12px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.guding{
	width: 1190px;
	height: 100%;
	margin:0 auto;
}
@font-face {
  font-family: 'iconfont';
  src: url('font1/iconfont.eot');
  src: url('font1/iconfont.eot?#iefix') format('embedded-opentype'),
  url('font1/iconfont.woff') format('woff'),
  url('font1/iconfont.ttf') format('truetype'),
  url('font1/iconfont.svg#iconfont') format('svg');
}
.iconfont5{
  font-family:"iconfont" !important;
  font-size:30px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.gudingzi{
	width: 120px;
	height: 100%;
	font-size: 30px;
	text-align: center;
	line-height: 50px;
	color:#fff;
	float: left;
}
.sousuofixed{
	width: 640px;
	height: 30px;
	padding: 0 10px;
	float: left;
	box-sizing: border-box;
	margin: 10px auto;
	margin-left: 100px;
	font-size: 12px;
	color:#000;
	line-height: 30px;
	outline: none;
}
.sousuobtn{
	width: 90px;
	height: 30px;
	margin:10px 0;
	float: left;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	border:0px;
	background: #FF0036;
	color:#fff;
	outline: none;
	cursor: pointer;
}